<!-- # ------------------------------------------------------------------------------ -->
<!-- #+ Autor:  	Ran# -->
<!-- #+ Creado: 	2022/01/20 19:18:34.802736 -->
<!-- #+ Editado:	2022/01/20 19:18:45.816565 -->
<!-- # ------------------------------------------------------------------------------ -->

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
